<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Welcome</title>
</head>
<body class="bg-light mt-4">

    <div class="container mt-5 text-center">
        <h1 class="display-4">Welcome to the Home Page</h1>
        <p class="lead">Explore and interact with our Stock Price Predictor</p>
        <a href="/predictform" class="btn btn-primary btn-lg">Get Started</a>
    </div>

    <!-- Bootstrap JS and Popper.js (optional) for certain Bootstrap components -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
